html {
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color:white;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 5vw;
  color: white;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: black;
}

h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: white;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: rgb(50, 50, 50);
}


/* div { outline: 1px dotted pink } */


/* p   { outline: 1px solid green }
a   { outline: 2px solid yellow }
li  { outline: 1px dashed cyan }
img { outline: 1px solid purple} */